/* General Styles */
body {
    font-family: 'Fjalla One', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

.navbar {
    background-color: #222;
    color: #fff;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.Info_1, .Info_2, .Info_3, .Info_4 {
    padding: 20px;
    margin: 40px 50px;
    background-color: #fff;
    border-radius: 5px;
    text-align: justify;
}

.Info_1 {
    background-image: url("safe.png");
    background-position: right 220px;
    background-repeat: no-repeat;
    background-size: fill-box;
}

.Info_1 p, .Info_2 p, .Info_3 p, .Info_4 p {
    line-height: 1.6;
}

.Info_2 h2, .Info_3 h2, .Info_4 h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.Info_2 ul, .Info_3 ul {
    list-style-type: disc;
    padding-left: 20px;
}

.Info_3 img, .Info_2 img {
    display: block;
    margin: 20px auto;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode .navbar {
    background-color: #444;
}

body.dark-mode .navbar-brand, 
body.dark-mode .nav-link, 
body.dark-mode .dropdown-item {
    color: white;
}

body.dark-mode .dropdown-item:hover {
    background-color: #666;
}

body.dark-mode .Info_1, 
body.dark-mode .Info_2, 
body.dark-mode .Info_3, 
body.dark-mode .Info_4 {
    background-color: #333;
    color: white;
}

/* Toggle Button */
.toggle-dark-mode-btn {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .toggle-dark-mode-btn {
    background-color: white;
    color: #333;
}

body.dark-mode .toggle-dark-mode-btn {
    background-color: #fff; /* White background */
    color: #333; /* Dark text color */
}
