/* General Styles */
body {
    font-family: 'Fjalla One', sans-serif;
    margin: 0;
    padding: 2rem; /* Increase padding around the body */
}

/* Navbar Styles */
.navbar {
    background-color: #222;
    color: #fff;
    padding: 1rem 2rem; /* Increase horizontal padding in navbar */
}

.navbar-nav .nav-link {
    padding: 1rem 1.5rem; /* Increase padding in navigation links */
}

/* Info Section Styles */
.info-section {
    padding: 4rem; /* Increase padding around the info section */
}

.info-section h1,
.info-section h2 {
    margin-bottom: 2rem; /* Increase margin between headings and content */
}

.info-section p {
    margin-bottom: 1.5rem; /* Increase margin between paragraphs */
}

.info-section ul {
    padding-left: 3rem; /* Increase padding for the list */
}

/* Malware Section Styles */
.malware-section {
    padding: 2rem; /* Increase padding around the malware section */
}

/* Security Expert Section Styles */
.security-expert-section {
    padding: 2rem; /* Increase padding around the security expert section */
}

/* Dark Mode Toggle Button Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #ccc;
    border-radius: 34px;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    transition: .4s;
    border-radius: 50%;
}

.switch input:checked + .slider {
    background-color: #666;
}

.switch input:checked + .slider:before {
    transform: translateX(26px);
    background-color: #fff;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #fff;
}

body.dark-mode .navbar {
    background-color: #333;
}

body.dark-mode .navbar-nav .nav-link:hover,
body.dark-mode .navbar-nav .nav-link.active {
    color: #fff;
}

body.dark-mode .dropdown-menu {
    background-color: #333;
}

body.dark-mode .dropdown-menu .dropdown-item:hover {
    background-color: #444;
}

body.dark-mode .info-section {
    background-color: #333;
    color: #fff; /* Added to set text color to white in dark mode */
}

/* Responsive Design */
@media (max-width: 768px) {
    .info-section {
        padding: 1rem;
        margin: 1rem;
    }
}
